<!DOCTYPE html>
<html>

<head>
    <title>Sigurnost</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mihael Cugovčan" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body class="centered">
    <div class="header">
        <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif">Testiranje sigurnosti aplikacije</h1>
        <div>
        
    </div>
    <div>
        <a href="/">
            <button class="button">Početna</button>
        </a>
        <a href="/sqlinjection">
            <button class="button">SQL injection</button>
        </a>
        <a href="/brokenauth">
            <button class="button">Broken authentication</button>
        </a>
        
    </div>
        
    </div>
    <div style="background-color: #e1e1e1;">
        <br />
        <br />
        <section class="readme-naslov">
            Stranica za ispitivanje i prikaz ranjivosti aplikacije.
            <br/>
            Za svaki primjer ranjivosti moguće je raditi u nesigurnom načinu gdje je ranjivosti iskoristiva ili u sigurnom načinu gdje nije iskoristiva.
            <br/>
            Ispitane sigurnosne ranjivosti aplikacija:
            <br/>
        </section>
        </br>
        <section class="readme">
            <div><b>SQL Injection</b></div>
            <div><b>Broken authentication (loše povratne poruke i loše spremanje zaporke)</b></div>
        </section>
    </div>
    <div class="footer">
        <p style="font-family: Arial, Helvetica, sans-serif;">Creative Commons BY-SA</p>
        <p style="font-family: Arial, Helvetica, sans-serif; font-size: smaller;">FER 2022</p>
    </div>
</body>

</html>